@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.header {
  height: 68vh;
  width: 100%;
  background: url(../image/base_2.jpg);
  background-size: cover;
  display:flex;
}
.header-div{
	height:100%;
	width:50%;
}
.style-icon{
	height:35%;
	width:100%;
}
.stylo-box{
	margin-top:5%;
	height:55%;
	width:50%;
	display:flex;
}
.style-color{
	height:100%;
	width:30%;
	background:#3abdd1;
	display:flex;
	justify-content: center;
	align-items: center;
}
.style-color p{
	font-size:3em;
	font-weight:500;
	color:#fff;
}
.style-color2{
	height:100%;
	width:70%;
	background:#fff;
	display:flex;
	justify-content: center;
	align-items: center;
}
.setting-icon{
	height:40px;
	width:40px;
	border-radius:0px 5px 5px 0px;
	background:#000;
	position:fixed;
	top:25%;
	left:0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.style-color2 p{
	font-size:1.5em;
	color:#3abdd1;
	font-weight:500;
}
.style-text{
	height:65%;
	width:100%;
	padding-left:25%;
}
.style-Theme{
	height:25%;
	width:65%;
	background:#fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:4px;
}
.style-Theme h2{
	font-size:2.3em;
	font-weight:600;
	font-family:'sans-serif';
}
.Dolore{
	margin-top:10px;
	height:15%;
	width:90%;
	background:#000;
	border-radius:5px;
	display:flex;
	justify-content: center;
	align-items: center;
	border-radius:5px;
}
.Dolore h3{
	color:#fff;
	font-size:1.3em;
}
.down{
	height:15%;
	width:30%;
	margin-top:10px;
	background:#3abdd1;
	border-radius:5px;
	display:flex;
	justify-content: center;
	align-items: center;
}
.down a{
	text-decoration:none;
	color:#fff;
	font-size:1.3em;
}
.header-div header{
	height:8%;
	width:80%;
	float:right;
	padding-right:10px;
	display:flex;
	justify-content:flex-end;
	align-items:center;
	gap:.5em;
}
.header-small-box{
	height:65%;
	width:40%;
	background:#fff;
	border-radius:15px;
	display:flex;
	padding:7px;
}
.header-small-box img{
	height:15px;
	width:15px;
}
.header-small-box p{
	font-size:.7em;
	margin-left:10px;
	color:#3abdd1;
}
.circle-box-icon{
	height:65%;
	width:5.5%;
	background:#fff;
	border-radius:25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.circle-box-icon img{
	height:12px;
	width:12px;
}
nav{
	height:10%;
	width:90%;
	float:right;
	background:#fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav li{
	list-style: none;
}
nav li a{
	text-decoration: none;
	padding: 14px 23px;
	background-color: #2DB0D0;
	color: #fff;
}
.bghover:hover{
	background-color:#fff ;
	color: #2DB0D0;
}
.home{
	background-color: #fff;
	color: #2DB0D0;
}
.home:hover{
	background-color: #2DB0D0;
	color: #fff;
}
.card-first {
    height: 373px;
    width: 450px;
    position: absolute;
    top: 17%;
    left: 53%;
}
.card-first img{
	height: 100%;
	width: 100%;
}
/*-----------------------------------------------*/
.section2 {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2 .section-margin {
  height: 90%;
  width: 75%;
  background-color: #fff;
}
.section2 .section-margin .stylo-text {
  height: 33.3%;
  width: 100%;
}
.stylo-text h2 {
  text-align: center;
  color: #555555;
  font-size: 1.7em;
  padding-bottom: 2px;
  font-weight: 500;
}
.stylo-text p {
  text-align: center;
  line-height: 1.4em;
  font-size: 1.7em;
  color: #868686;
  font-weight: 200;
}
.stylo-text .modern-box {
  height: 100%;
  width: 33.33%;
  float: left;
}
.modern-box .top-box {
  height: 20%;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.top-box .logo-img {
  height: 40px;
  width: 40px;
  background-color: #30b2d2;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-box .logo-img img {
  height: 20px;
  width: 20px;
}
.top-box .logo-space-box {
  height: 100%;
  width: 87%;
}
.logo-space-box h4 {
  font-size: 1.3rem;
  line-height: 2rem;
  color: #555555;
}
.modern-box .bottom-box {
  height: 80%;
  width: 100%;
  padding-top:15px;
}
.bottom-box p {
	
  font-size: 0.8em;
  text-align:left;
  font-weight:400;
  padding-bottom:10px;
}
.bottom-box a{
	font-size: 0.7em;
	color: #555555;
	text-align:left;
	font-weight:bold;
	text-decoration:none;
	transition:2s;
}
.bottom-box a:hover{
	color:#30b2d2;
}
/*-----------------------------------------------------*/
.third-section{
	height:60vh;
	width:100%;
	background:url(../image/1.jpg);
	background-attachment:fixed;
	background-size:cover;
}
.third-section-text{
	height:40%;
	width:100%;
	padding-top:55px;
}
.third-section-text p{
	text-align:center;
	color:#fff;
	font-size:1.5em;
}
.star-img{
	height:10%;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	gap:5px;
} 
.star-img img{
	height:15px;
	width:15px;
}
.circle-box{
	height:17%;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.circle-img{
	height:70px;
	width:70px;
	border:3px solid #fff;
	border-radius:50%;
}
.circle-img img{
	height:100%;
	border-radius:50%;
	width:100%;
}
.DOWER-head{
	height:15%;
	width:100%;
	padding-top:12px;
}
.DOWER-head h4{
	text-align:center;
	color:#fff;
}
.DOWER-head p{
	text-align:center;
	color:#7ba54b;
}
.small-circle{
	height:5%;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	gap:7px;
}
.border-box{
	height:12px;
	width:12px;
	border:2px solid #fff;
	border-radius:50%;
}
.fill-box{
	height:12px;
	width:12px;
	background: #fff;
	border-radius:50%;
}
/*---------------------------------------------------------*/
.fourth-section{
	height:45vh;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.fourth-section-margin{
	height:80%;
	width:75%;
	background:#fff;
}
.recent{
	height:20%;
	width:100%;
	position:relative;
}
.recent p{
	font-size:1.3rem;
	color:#55555a;
	position:relative;
}
 .underline::after{
	content:" ";
	height:2px;
	width:100%;
	background:#e6efef;
	position:absolute;
	left:0;
	top:180%;
}
.underline::before{
	content:" ";
	height:2px;
	width:7%;
	background:#22accc;
	position:absolute;
	left:0;
	top:180%;
	z-index:1;
}
.recent .small-circle-recent{
	height:10px;
	width:10px;
	background:#22accc;
	border-radius:50%;
	position:absolute;
	top:78%;
}
.card-box-big{
	height:90%;
	width:100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.card-box{
	height:70%;
	width:18%;
	background:#fff;
}
.card-box img{
	height:100%;
	width:100%;
}
/*------------------------------------------------------*/
.fifth-section{
	height:45vh;
	width:100%;
	display:flex;
	justify-content:center;
}
.fifth-section-margin{
	height:90%;
	width:75%;
	display:flex;
	justify-content:space-between;
}
.client-box{
	height:100%;
	width:49%;
}
.client-choose{
	height:20%;
	width:100%;
	position:relative;
}
 .client-choose .underline::after{
	content:" ";
	height:2px;
	width:100%;
	background:#e6efef;
	position:absolute;
	left:0;
	top:180%;
}
.client-choose .underline::before{
	content:" ";
	height:2px;
	width:15%;
	background:#22accc;
	position:absolute;
	left:0;
	top:180%;
	z-index:1;
}
.client-choose .small-circle-recent{
	height:10px;
	width:10px;
	background:#22accc;
	border-radius:50%;
	position:absolute;
	top:70%;
}
.client-choose .underline{
	font-size:1.3rem;
	color:#55555a;
	position:relative;
}
.text-list{
	height:80%;
	width:100%;
	padding-top:20px;
}
.list-style{
	list-style:none;
}
.list-style a{
	text-decoration:none;
	color:#000;
	line-height:2.3em;
	font-size:.85em;
}
.list-style a:hover{
	color:#22accc;
}
.text-list-div{
	height:40%;
	width:100%;
	background:#eaeaea;
	border-top:3px solid #30b2d2;
	display:flex;
	justify-content:center;
	align-items:center;
}
.text-list-div i{
	font-size:.8em;
	text-align:center;
}
.company-inc{
	height:60%;
	width:100%;
	padding-top:30px;
	display:flex;
}
.animate{
	height:75px;
	width:75px;
	border-radius:50%;
	border:3px solid #22accc;
	display:flex;
	justify-content:center;
	align-items:center;
}
.animate img{
	height:95%;
	width:95%;
	border-radius:50%;
}
.Dower{
	height:100%;
	width:50%;
	padding:10px 20px;
}
.Dower h4{
	color:#555555;
}
.Dower p{
	color:#22accc;
	font-size:.8em;
}
/*-----------------------------------------------------------------------------*/
.our-clients{
	height:9vh;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.our-clients-margin{
	height:100%;
	width:75%;
}
.our-client{
	height:100%;
	width:100%;
}
.our-client p{
	font-size:1.3rem;
	color:#55555a;
	position:relative;
}
.our-client .underline::after{
	content:" ";
	height:2px;
	width:100%;
	background:#e6efef;
	position:absolute;
	left:0;
	top:180%;
}
.our-client .underline::before{
	content:" ";
	height:2px;
	width:7%;
	background:#22accc;
	position:absolute;
	left:0;
	top:180%;
	z-index:1;
}
.our-client .small-circle-client{
	height:10px;
	width:10px;
	background:#22accc;
	border-radius:50%;
	position:absolute;
	top:305.5%;
}
/*-------------------------------------------------*/
.client{
	height:20vh;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	
}
.client-margin{
	height:50%;
	width:75%;
	display:flex;
	justify-content:flex-start;
	align-items:center;
	gap:40px;
}
.client-logo{
	height:100%;
	width:22%;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
/*-----------------------------------------------------------*/
.stylo-tem{
	height:15vh;
	width:100%;
	background:#f2f2f2;
	display:flex;
	justify-content:center;
}
.stylo-tem-margin{
	height:100%;
	width:75%;
	display:flex;
}
.stylo-tem-text{
	height:100%;
	width:60%;
	padding-top:25px;
}
.stylo-tem-text h3{
	font-size:1.3em;
}
.stylo-tem-text p{
	margin-top:6px;
	font-size:.8em;
}
.stylo-tem-button{
	height:100%;
	width:40%;
	display:flex;
	justify-content:flex-end;
	align-items:center;
}
.button{
	height:50px;
	width:200px;
	background:#22accc;
	border-radius:3px;
	display:flex;
	transition:2s;
}
.button:hover{
	background:#337ab7;
}
.cart-img{
	height:100%;
	width:25%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.cart-img img{
	height:30px;
	width:30px;
}
.download{
	height:100%;
	width:75%;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#fff;
	font-size:1.2em;
}
/*------------------------------------------------------------*/
.footer-section{
	height:54vh;
	width:100%;
	background:#323a45;
	display:flex;
	justify-content:center;
	align-items:center;
}
.footer-section-margin{
	height:85%;
	width:75%;
	display:flex;
	justify-content:space-between;
}
.footer-box{
	height:100%;
	width:23%;
}
.about{
	height:20%;
	width:100%;
}
.address{
	height:80%;
	width:100%;
}
.about-about{
	height:30%;
	width:100%;
	padding-top:20px;
}
.about-about p{
	font-size:.8em;
	color:#fff;
	line-height:1.5em;
	font-weight:bold;
}
.adress-name{
	height:100%;
	width:50%;
	display:flex;
}
.live-loc{
	height:40%;
	width:100%;
	display:flex;
}
.live-logo{
	height:100%;
	width:10%;
	padding-top:40px;
}
.live-logo img{
	height:15px;
	width:15px;
}
.live-address{
	height:100%;
	width:90%;
	padding-top:40px;
}
.live-address p{
	font-size:.8em;
	color:#fff;
	margin-bottom:4px;
	font-weight:bold;
}
.address-name  img{
	height:20px;
	width:20px;
}
.about h3{
	font-size:1.3em;
	color:#fff;
	font-weight:300;
	position:relative;
}
.about h3::after{
	content:" ";
	height:2px;
	width:100%;
	background:#e6efef;
	position:absolute;
	left:0;
	top:140%;
}
.about h3::before{
	content:" ";
	height:2px;
	width:30%;
	background:#22accc;
	position:absolute;
	left:0;
	top:140%;
	z-index:1;
}
.about .about-small-circle{
	height:10px;
	width:10px;
	background:#22accc;
	border-radius:50%;
	position:relative;
	top:10%;
	left:0%;
}
.recent-post{
	height:21%;
	width:100%;
}
.recent-post ul{
	list-style:none;
}
.recent-post li{
	font-weight:bold;
	font-size:.8em;
	color:#fff;
	margin-bottom:4px;
	text-decoration:none;
}
.recent-post a{
	font-size:.8em;
	color:#89898a;
	margin-bottom:4px;
	text-decoration:none;
}
.yahho-box{
	height:80%;
	width:100%;
}
.yahoo-text{
	height:33%;
	width:100%;
	display:flex;
}
.yohoo-logo{
	height:100%;
	width:12%;
}
.yohoo-logo img{
	height:20px;
	width:20px;
}
.yahoo-mail{
	height:100%;
	width:88%;
}
.yahoo-mail p{
	font-size:.8em;
	color:#fff;
	font-weight:400;
}
.yahoo-mail p span{
	font-size:.9em;
	color:#fff;
	font-weight:bolder;
}
.yahoo-mail p span:hover{
	color:#22accc;
}
.card-box-outer{
	height:80%;
	width:100%;
	margin-top:20px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:center;
	padding-inline:15px;
}
.card-box-inner{
	width:31%;
	height:30%
}
.card-box-inner>img{
	width:100%;
	height:100%;
}
.card-box-inner>img:hover{
	transform:scale(1.1);
	background:#22accc;
	opacity:.3;
}

.copy-right{
	height:12vh;
	width:100%;
	background:#292F38;
}
.copy-right-margin{
	height:100%;
	width:75%;
	margin:0px auto;
	display:flex;
	justify-content:space-between;
}
.copy-right-box{
	height:100%;
	width:30%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.copy-right-box p{
	color: #89898a;
	font-size:.8em;
	font-weight:bold;
}
.copy-right-box span{
	color: #fff;
	font-size:1em;
	font-weight:bold;
}
.copy-right-box span:hover{
	color:#89898a;
}
.copy-right-box2{
	height:100%;
	width:30%;
	display:flex;
	justify-content:flex-end;
	align-items:center;
	gap:10px;
}
.copy-right-logo{
	height:30px;
	width:30px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.copy-right-logo img{
	height:20px;
	width:20px;
}